## Search chinese restaurant in Paris

In [1]:
import requests as re
import os
import numpy as np 
import pandas as pd
from yelpapi import YelpAPI

In [2]:
Yelp_ID=os.environ['Yelp_Client_ID'] # not required
api_key=os.environ['Yelp_Client_Key']
yelp_api = YelpAPI(api_key)

In [3]:
search_location='Paris, France'
search_term='chinese restaurant'
search_limit=50

In [4]:
response = yelp_api.search_query(term = search_term,
                                 location =search_location,
                                 limit = search_limit)

In [5]:
business_cols=list(response['businesses'][0].keys())
search_data=pd.DataFrame(columns=business_cols)
for data in response['businesses']:
    search_data=search_data.append(data, ignore_index=True)
search_data.columns

Index(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count',
       'categories', 'rating', 'coordinates', 'transactions', 'price',
       'location', 'phone', 'display_phone', 'distance'],
      dtype='object')

In [7]:
df_yelp=search_data[['name','review_count','rating', 'location', 'coordinates']]
df=df_yelp.sort_values(by='review_count',ascending=False)
top10=df.head(10)

,name,review_count,rating,location,coordinates
12,Happy Nouilles,148,4.0,"{'address1': '95 rue Beaubourg', 'address2': N...","{'latitude': 48.864524, 'longitude': 2.355095}"
48,Mirama,114,3.5,"{'address1': '17 rue Saint-Jacques', 'address2...","{'latitude': 48.851717, 'longitude': 2.346145}"
7,Deux Fois Plus de Piment,93,4.0,"{'address1': '33 rue Saint-Sébastien', 'addres...","{'latitude': 48.861568, 'longitude': 2.370637}"
14,Trois Fois Plus de Piment,85,4.0,"{'address1': '184 rue Saint-Martin', 'address2...","{'latitude': 48.862811, 'longitude': 2.352435}"
49,Kok Ping,59,4.0,"{'address1': '4 rue Balzac', 'address2': None,...","{'latitude': 48.873029, 'longitude': 2.300134}"
35,L'Orient d'Or,54,4.0,"{'address1': '22 rue de Trévise', 'address2': ...","{'latitude': 48.873939377235, 'longitude': 2.3..."
0,Fresh Noodles & Wok,50,4.5,"{'address1': '23 rue Saint-Denis', 'address2':...","{'latitude': 48.859595, 'longitude': 2.347833}"
19,La Maison du Dim Sum,45,4.0,"{'address1': '4 rue des Fossés Saint Jacques',...","{'latitude': 48.84594, 'longitude': 2.343413}"
46,Ebis,41,4.0,"{'address1': '19 rue Saint Roch', 'address2': ...","{'latitude': 48.86517, 'longitude': 2.33215}"
5,My Noodles,40,4.5,"{'address1': '129 boulevard du Montparnasse', ...","{'latitude': 48.8415, 'longitude': 2.3317199}"

In [24]:
loc=[]
for i, v in top10['coordinates'].items():
    loc.append(v.values())
print(loc)

[dict_values([48.864524, 2.355095]), dict_values([48.851717, 2.346145]), dict_values([48.861568, 2.370637]), dict_values([48.862811, 2.352435]), dict_values([48.873029, 2.300134]), dict_values([48.873939377235, 2.345441]), dict_values([48.859595, 2.347833]), dict_values([48.84594, 2.343413]), dict_values([48.86517, 2.33215]), dict_values([48.8415, 2.3317199])]

In [18]:
top10.head(2)

,name,review_count,rating,location,coordinates,LL
12,Happy Nouilles,148,4.0,"{'address1': '95 rue Beaubourg', 'address2': N...","{'latitude': 48.864524, 'longitude': 2.355095}","{'latitude': 48.864524, 'longitude': 2.355095}"
48,Mirama,114,3.5,"{'address1': '17 rue Saint-Jacques', 'address2...","{'latitude': 48.851717, 'longitude': 2.346145}","{'latitude': 48.851717, 'longitude': 2.346145}"

In [51]:
top10.to_csv('top10.csv')

In [4]:
api_key='AIzaSyBtNW2eW6A2lXNhp5_vlZ7eNrn5D6PHKw0'

import gmaps
gmaps.configure(api_key=api_key)

In [6]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
from pprint import pprint
import requests
import os
from re import search
from yelp.client import Client

In [7]:
origin='48.864524, 2.355095'
destin='48.8415, 2.3317199'
waypoints='48.861568, 2.370637 | 48.862811, 2.352435 | 48.873029, 2.300134 | 48.873939377235, 2.345441 | 48.859595, 2.347833 | 48.84594, 2.343413 | 48.86517, 2.33215'

In [9]:
base_url='https://maps.googleapis.com/maps/api/directions/json?'
yelp_url = f'origin={origin}&destination={destin}&waypoints=optimize:true{waypoints}&key={api_key}'
api_key='AIzaSyBtNW2eW6A2lXNhp5_vlZ7eNrn5D6PHKw0'
google_response=requests.get(base_url+yelp_url)
google_json=google_response.json()
routes=google_json['routes']

In [10]:
d1=json_normalize(routes,record_path='legs', errors='ignore')
d1.head(2)

,distance,duration,end_address,end_location,start_address,start_location,steps,traffic_speed_entry,via_waypoint
0,"{'text': '0.4 km', 'value': 385}","{'text': '2 mins', 'value': 111}","184 Rue Saint-Martin, 75003 Paris, France","{'lat': 48.8628375, 'lng': 2.3523102}","95 Rue Beaubourg, 75003 Paris, France","{'lat': 48.8644872, 'lng': 2.3552531}","[{'distance': {'text': '0.2 km', 'value': 217}...",[],[]
1,"{'text': '5.3 km', 'value': 5326}","{'text': '19 mins', 'value': 1161}","4 Rue Balzac, 75008 Paris, France","{'lat': 48.8730534, 'lng': 2.3000617}","184 Rue Saint-Martin, 75003 Paris, France","{'lat': 48.8628375, 'lng': 2.3523102}","[{'distance': {'text': '0.1 km', 'value': 137}...",[],[]

In [15]:
d1['time']=d1['duration'].apply(pd.Series).value
d1.head(2)

,distance,duration,end_address,end_location,start_address,start_location,steps,traffic_speed_entry,via_waypoint,time
0,"{'text': '0.4 km', 'value': 385}","{'text': '2 mins', 'value': 111}","184 Rue Saint-Martin, 75003 Paris, France","{'lat': 48.8628375, 'lng': 2.3523102}","95 Rue Beaubourg, 75003 Paris, France","{'lat': 48.8644872, 'lng': 2.3552531}","[{'distance': {'text': '0.2 km', 'value': 217}...",[],[],111
1,"{'text': '5.3 km', 'value': 5326}","{'text': '19 mins', 'value': 1161}","4 Rue Balzac, 75008 Paris, France","{'lat': 48.8730534, 'lng': 2.3000617}","184 Rue Saint-Martin, 75003 Paris, France","{'lat': 48.8628375, 'lng': 2.3523102}","[{'distance': {'text': '0.1 km', 'value': 137}...",[],[],1161

In [16]:
#sum the total travelling time for 10 places
#d1.columns.get_values()
triptime=d1['time'].sum(axis=0)/60
print(f'The total traveling time is : {int(triptime)} hour')

The total traveling time is : 92 hour